.basket {
  margin-top: 20px;

  &-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;

    padding-bottom: 20px;
  }

  &-sum {
    position: absolute;
    bottom: 30px;
    left: 0;

    color: #fff;
    text-align: center;
    font-size: 24px;
  }
}