.layout {
  width: 100vw;
  height: 100vh;

  .container {
    position: relative;

    display: flex;
    flex-direction: column;

    max-width: 600px;
    height: 100%;

    margin: 0 auto;
    background-color: #0e1621;
  }

  &-content {
    margin-top: 60px;
    padding: 0 10px;

    height: 100%;

    overflow-y: scroll;
  }

  &-button {
    position: absolute;
    bottom: 0;
    transform: translateY(10000px);
    transition: 0.3s;

    width: 100%;
    display: flex;
    justify-content: center;

    margin-top: 70px;

    button {
      display: flex;
      align-items: center;
      gap: 20px;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding: 17px 40px;

      color: #fff;
      border-radius: 40px;
      font-size: 22px;
      font-weight: 600;
      outline: none;
      border: none;
      background-color: #5eb5f7;
    }
  }

  .avil {
    transform: translateY(0);
  }
}
